.clearfix:after {
   content: " "; /* Older browsers do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.wrapper {
	min-width: 400px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url("../images/regal.png");
	background-color: #ccc;
}

.container {
	max-width: 980px;
}

header {
	background-color: #fff;
	border-bottom: 2px solid #d8d8d8;
	width: 100%;
	margin-top: 0;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #fff;
	line-height: 90px;
	width: 250px;
	background-color: #4aaaa5;
	text-align: center;
	margin-left: 40px;
	float: left;
}

nav {
	height: 90px;
	float: right;
	margin-right: 40px;
}

nav ul {
	padding-top: 35px;
}

nav li {
	display: inline-block;
	width: 90px;
	text-align: center;
}

nav a {
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	text-decoration: inherit;
  	color: #777;
 }

nav a:hover {
	color: #4aaaa5;
	font-size: 20px;
}

nav li:not(:last-child) {
	border-right: 1px solid #ddd;
}

.flex {
	flex: 1;
}

#main-content {
	background-color: #fff;
	border: 1px solid #ddd;
	width: calc(100% - 420px);
	padding: 10px 30px 30px 30px;
	margin: 40px 0 0 40px;
	float: left;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	font-family:'Georgia', Times, 'Times New Roman', serif;
	line-height: 70px;
	color: #4aaaa5;
}

#main-content hr {
	background-color: #ddd;
	height: 3px;
	border: 0;
	margin: 0 0 15px 0;
}

#headshot {
	width: 40%;
	float: left;
	margin: 9px 25px 9px 0;
}

#main-content p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	font-size: 16px;
	line-height: 1.5em;
	padding: 10px 0 10px 0;
}

textarea {
	width: 100%;
}

button:hover {
	background: #777;
	color: #fff;
}

.project {
	position: relative;
	margin-top: 25px;
	float: left;
	width: 47%;
}

.project img {
	width: 100%;
}

.right {
	float: right;
}

.tag {
	background-color: #4aaaa5;
	font-size:22px;
	color: #fff;
	text-align: center;
	line-height: 2em;
	width: 100%;
	position: absolute;
	bottom: 15px;
}

.tag:hover {
	font-size:24px;
}

aside {
	float: left;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 30px 30px 30px;
	margin: 40px 40px 0 40px;
}

h3 {
	position: static;
	font-size: 24px;
	color: #4ba9a5;
    margin: 25px 0 20px 0;
    font-weight: bold;
}

aside hr {
	margin-top: 0;
	margin-bottom: 10px;
	height: 2px;
	background-color: #ddd;
	border: 0;
}

aside img {
	width: 55px;
	padding: 4px;
	margin-right: -8px;
}

aside img:hover {
	width: 65px;
	padding: 0;
	margin-top: -5px;
	margin-right: -10px;
}

footer {
	background-color: #666;
	border-top: 6px solid #4ba9a5;
	margin-top: 30px;
}

footer p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	line-height: 90px;
	color: #ccc;
	text-align: center;
}

@media screen and (max-width: 980px) {
	#headshot {
		width: 100%;
	}

	.project {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {

	#main-content, aside {
		float: none;
		width: calc(100% - 140px);
	}

	#headshot {
		width: 50%;
	}

}

@media screen and (max-width: 640px) {

	h1 {
		float: none;
		width: 100%;
		height: 60px;
		line-height: 60px;
		margin-left: 0;
	}

	nav {
		height: 45px;
		margin-right: 0;
		float: none;
		text-align: center;
	}

	nav li {
		width: 30%;
	}

	nav ul {
		padding-top: 15px;
	}

	#main-content, aside {
		float: none;
		margin: 30px 30px 0 30px;
	}

	#headshot {
		width: 100%;
	}

}
